<div class="header">
    <h1 class="title">Boss Khing</h1> &nbsp;&nbsp;&nbsp;&nbsp; <p class="blog">blog</p>
</div>
<div class="main">
    <mat-card class="items">
        <img src="assets/siomai.jpg" alt="">
        <div class="description">
            Homemade pork siomai is a circle of dough made with fresh pork, carrots, potatoes and premium ingredients 
        </div>
    </mat-card>
    <mat-card class="items">
        <img src="assets/siomai_zoom.jpg" alt="">
        <div class="description">
            Homemade beef siomai is a circle of dough made with fresh beef carrots, potatoes and premium ingredients 
        </div>
    </mat-card>
    <mat-card class="items">
        <img src="assets/siomai_bilao.jpg" alt="">
        <div class="description">
            Homemade beef and pork siomai in bilao. For any celebration . yummy
        </div>
    </mat-card>
    <mat-card class="items">
        <img src="assets/chili_garlic.jpg" alt="">
        <div class="description">
            Homemade chili garlic sauce with incredible flavors made with vegetable oil, fresh chilies and garlic all natural and No preservatives added
        </div>
    </mat-card>
    <mat-card class="items">
        <img src="assets/chili_garlic_on_pan.jpg" alt="">
        <div class="description">
            Homemade chili garlic sauce with incredible flavors made with vegetable oil, fresh chilies and garlic all natural and No preservatives added by my wifey.
        </div>
    </mat-card>
</div>

<div class="footer">
<div>
    <mat-icon style="font-size: 18px;padding:0px;margin:0px;">copyright</mat-icon>  Copyright Reserved ni Scottie Duron
</div>
</div>